<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action = "/robots" method = "POST">
   <h3>Name: <input type ="text" name = "name"></h3>
   <h4>Job: <input type = "text" name = "job"></h4>
   <h5>Image: <input type = "text" name = "img"></h5>
   <button type = "submit">Create Robot</button>
</form>
</body>